version: '2'

services:

  server:
    image: 'fschwanck/fl-framework-server:latest'
    environment:
      - SERVER_ADDRESS=10.5.0.2:8080
      - FRACTION_FIT=1
      - MIN_FIT_CLIENTS=3
      - MIN_AVAILABLE_CLIENTS=3
      - SERVER_NUM_ROUNDS=1
      - CERTIFICATES_PATH=./.cache/certificates
    networks:
      mynet:
        ipv4_address: 10.5.0.2
      
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==manager





  client0:
    image: 'fschwanck/fl-framework-client:latest'
    environment:
      - SERVER_ADDRESS=server:8080
      - FL_CLIENT_DEVICE=cpu
      - CERTIFICATES_PATH=./.cache/certificates
      - DATA_PATH=./data/cifar-10
      
    networks:
      - mynet
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data
      

  client1:
    image: 'fschwanck/fl-framework-client:latest'
    environment:
      - SERVER_ADDRESS=server:8080
      - FL_CLIENT_DEVICE=cpu
      - CERTIFICATES_PATH=./.cache/certificates
      - DATA_PATH=./data/cifar-10
      
    networks:
      - mynet
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data
    
  client2:
    image: 'fschwanck/fl-framework-client:latest'
    environment:
      - SERVER_ADDRESS=server:8080
      - FL_CLIENT_DEVICE=cpu
      - CERTIFICATES_PATH=./.cache/certificates
      - DATA_PATH=./data/cifar-10

      
    networks:
      - mynet
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data
 
networks:
  mynet:
    driver: overlay
    attachable: true
    ipam:
      config:
        - subnet: 10.5.0.0/16
          aux_addresses:
            server: 10.5.0.2
         
            
