services:

  fl-framework-server:
    image: 'enzolisp1/fl-framework-server:latest'
    env_file:
      - ./common.env
      - ./server.env
    networks:
      - mynet
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==manager
    volumes:
    - ./data:/data
    - ./experiments:/experiments


  fl-framework-client-0:
    image: 'enzolisp1/fl-framework-client:latest'
    env_file:
      - ./common.env
      - ./client.env
    environment:
      - CLIENT_ID=0
      - FLWR_TELEMETRY_ENABLED=0
    networks:
      - mynet
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data
    - ./experiments:/experiments
      

  fl-framework-client-1:
    image: 'enzolisp1/fl-framework-client:latest'
    env_file:
      - ./common.env
      - ./client.env
    environment:
      - CLIENT_ID=1
      - FLWR_TELEMETRY_ENABLED=0
    networks:
      - mynet
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data
    - ./experiments:/experiments
    

 
networks:
  mynet:
    driver: bridge
    #attachable: true
    #ipam:
    #  config:
    #    - subnet: 10.5.0.0/16
    #      aux_addresses:
    #        server: 10.5.0.2
         
            
