version: '2'

services:

  fl-framework-server:
    image: 'fschwanck/fl-framework-server:latest'
    environment:
      - SERVER_ADDRESS=0.0.0.0:8080
      - FRACTION_FIT=1
      - MIN_FIT_CLIENTS=3
      - MIN_AVAILABLE_CLIENTS=5
      - SERVER_NUM_ROUNDS=2
      - CERTIFICATES_PATH=./.cache/certificates
      - CLIENT_LOCAL_EPOCHS=1
      - FLWR_TELEMETRY_ENABLED=0
      - SERVER_NAME=fl-framework-server
    networks:
      - mynet
      
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==manager





  fl-framework-client-1:
    image: 'fschwanck/fl-framework-client:latest'
    environment:
      - SERVER_ADDRESS=fl-framework-server:8080
      - FL_CLIENT_DEVICE=cpu
      - CERTIFICATES_PATH=./.cache/certificates
      - DATA_PATH=./data/cifar-10
      - DATA_BATCH_NUMBER=1
      - FLWR_TELEMETRY_ENABLED=0
      
    networks:
      - mynet
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data
      

  fl-framework-client-2:
    image: 'fschwanck/fl-framework-client:latest'
    environment:
      - SERVER_ADDRESS=fl-framework-server:8080
      - FL_CLIENT_DEVICE=cpu
      - CERTIFICATES_PATH=./.cache/certificates
      - DATA_PATH=./data/cifar-10
      - DATA_BATCH_NUMBER=2
      - FLWR_TELEMETRY_ENABLED=0
      
    networks:
      - mynet

    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data
    
  fl-framework-client-3:
    image: 'fschwanck/fl-framework-client:latest'
    environment:
      - SERVER_ADDRESS=fl-framework-server:8080
      - FL_CLIENT_DEVICE=cpu
      - CERTIFICATES_PATH=./.cache/certificates
      - DATA_PATH=./data/cifar-10
      - DATA_BATCH_NUMBER=3
      - FLWR_TELEMETRY_ENABLED=0
      

      
    networks:
      - mynet
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data
  
  fl-framework-client-4:
    image: 'fschwanck/fl-framework-client:latest'
    environment:
      - SERVER_ADDRESS=fl-framework-server:8080
      - FL_CLIENT_DEVICE=cpu
      - CERTIFICATES_PATH=./.cache/certificates
      - DATA_PATH=./data/cifar-10
      - DATA_BATCH_NUMBER=4
      - FLWR_TELEMETRY_ENABLED=0

      
    networks:
      - mynet
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data

  fl-framework-client-5:
    image: 'fschwanck/fl-framework-client:latest'
    environment:
      - SERVER_ADDRESS=fl-framework-server:8080
      - FL_CLIENT_DEVICE=cpu
      - CERTIFICATES_PATH=./.cache/certificates
      - DATA_PATH=./data/cifar-10
      - DATA_BATCH_NUMBER=5
      - FLWR_TELEMETRY_ENABLED=0

      
    networks:
      - mynet
    restart: always
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type==worker
    volumes:
    - ./data:/data
 
networks:
  mynet:
    driver: overlay
    attachable: true
    ipam:
      config:
        - subnet: 10.5.0.0/16
          aux_addresses:
            server: 10.5.0.2
         
            
