[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flwr = ">=1.3.0"
torch = ">=1.13.1"
torchvision = ">=0.14.1"
numpy = ">=1.24.2"
seaborn = ">=0.12.2"
matplotlib = ">=3.7.1"
scikit-learn = ">=1.2.2"
ujson = ">=5.7.0"
torchtext = ">=0.14.1"
torchdata = ">=0.5.1"
six = ">=1.16.0"



[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
